__pycache__
.coverage*
.doit.db*
.DS_Store
.ipynb_checkpoints
.vscode
*.egg-info
*.ipynb
docs/_build/
notebooks/*.pdf
notebooks/*.png
playground/
src/simulation_based_graph_inference/**/*.cpp
src/simulation_based_graph_inference/**/*.html
src/simulation_based_graph_inference/**/*.pyi
src/simulation_based_graph_inference/scripts/*.hpp
src/simulation_based_graph_inference/scripts/infer_latent_space_params
workspace/
